
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
 }
#map{
     height: 100%;
 }

.container{
    height: 100%;
 }

#drawer{
    position: absolute;
    display: none;
    top:3.5rem;
    background-color: rgba(55, 65, 64,0.85);
    z-index: 1;
    height: 100%;
}

#openBar{
  padding: 20px;
  font-size: 25px;
  color: #374140;
  position: absolute;
  top:3.5rem;
  z-index: 1;

}

#closeBar{
 display: flex;
 flex-direction: row;
 justify-content: flex-end ;
 margin: 10px;
font-size: 25px;
color:#d9cb9e;
}


form{
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap:20px;
 }


.formItem{
    display: flex;
    flex-direction: column;
 }

.formItem label{
    font-size: 12px;
    padding-left: 6px;
    color:white;
    font-weight: bolder;
}

select{
    background-image:-webkit-linear-gradient(hsla(0,0%,100%,0), hsla(0,0%,100%,0));
    margin-bottom: 1em;
    padding: .25em;
    border: none;
    color: white;
    background-color: transparent;
    border-bottom: 2px solid #d9cb9e; 
    font-weight: bold;
    letter-spacing: .15em;
    border-radius: 0;   
    outline: none;
}
 
 