
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
 }
#map{
     height: 100%;
  }

 form{
     position: absolute;
     top:3.5rem;
     display: flex;
     flex-direction: column;
      justify-content: start;
     align-items: center ;

 }
select{
     height:54px;
     background: #374140;
     color: #D9CB9E;
     font-size: 13px;
     font-style: normal;
     font-weight: bold;
     letter-spacing: 2px;
     outline-color: #D9CB9E;
     outline-width: 2px;
     text-align: center;
     text-align-last: center;
     -moz-text-align-last: center;
 }
 
 
 #time{
    padding: 0 2em 0 7.2em;
  }

  @media screen and (min-width: 1024px) {
    form{
        flex-direction: row;
    }
    #time{
        padding-right: 86px;
        padding-left: 0;
      }
  }
  
 /** apply on Safari Only **/
  @media not all and (min-resolution:.001dpcm) { 
    @supports (-webkit-appearance:none) {
        select{
            background-image : url('../images/earthquake/drpDownIcon.svg')!important;
            background-repeat: no-repeat, repeat !important;
            background-position: right .7em top 50%, 0 0 !important;
            background-size: 1.5em auto, 100% !important;
            text-indent: 15%;
            outline: #D9CB9E ;
            border-radius: 0px;
            -webkit-appearance:none;
        }
 
        
     }
}
 