@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;400&display=swap");
body,
html {
    font-family: "Poppins", sans-serif;
}
/** Section Css**/
.first-section {
    width: 100%;
    height: 10%;
    background-image: url("../images/floods/Rectangle\ 35.png");
    background-repeat: inherit;

    height: 500px;
    left: -34px;
    top: 74px;
}
h2 {
    padding: 0px;
}
.inner-sect {
    margin-left: 25%;
    width: 50%;
    height: 40%;
    left: 10%;
    margin-top: 10%;
    background: rgba(55, 65, 64, 0.77);
}
@media only screen and (max-width: 800px) {
    .inner-sect {
        height: fit-content;
    }
}

/**Disaster CSS**/
.disasterDetails {
    display: flex;
    flex-direction: row;
}
#disasters {
    margin-left: 5%;
}
.disasterImage img {
    margin-left: 10%;
    width: 360px;
    height: 356px;
    box-shadow: -31px -31px rgb(55 65 64/ 95%);
}
.disasterContent {
    width: 60%;
    margin-left: 50px;
}
.disasterContent h1 {
    text-align: left;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 45px;
    margin-left: 1.5%;
}
.disasterContent h2 {
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 30px;
    letter-spacing: 0.2em;
    color: #b0953d;
    text-align: left;
    margin-left: 1.5%;
}

.point-1 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-left: 2%;
    line-height: 2%;
    
}

.fas fa-arrow-right {
    color: #374140, 69%;
    font-size: 20px;
    width: 20px;
    float: left;
}
.disasterDetails {
    display: flex;
    flex-direction: row;
}

#disasters2 {
    margin-left: 4%;
}
#disasters2 {
    display: flex;
    flex-direction: row;
}
.disasterImage2 img {
    margin-right: 10%;
    width: 360px;
    height: 356px;
    box-shadow: 31px -31px rgb(55 65 64/ 95%);
}
.disasterContent2 {
    width: 60%;
    margin-left: 50px;
}
.disasterContent2 h1 {
    text-align: left;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 45px;
    margin-left: 1.5%;
}
.disasterContent2 h2 {
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 30px;
    letter-spacing: 0.2em;
    color: #b0953d;
    text-align: left;
    margin-left: 1.5%;
}

@media only screen and (max-width: 800px) {
    .disasterDetails {
        display: flex;
        flex-wrap: wrap; 
        ; 
    }
    .point-1 {
        width: fit-content;
        text-overflow: unset;
        line-height: unset;
    }
    

    .disasterImage img {
        width: 222px;
    }
    .disasterImage2 img {
        width: 222px;
    }
    .disasterDetails2 {
        display: flex;
        flex-wrap: wrap;
    }
}
@media only screen and (max-width: 800px) {
    select{
        flex-direction: row;
    }
   option{
      flex-direction: row;
   }
}

.news-sect h1{
    font-size: 20px;
    text-align: center;
    font-weight: bolder;
}

.current span {
    background: #951b1b;
    border-radius: 10px;
    padding: 8px 10px;
    color: white;
    margin: 2px;
    text-align: center;
    
}

.alert span {
    background: #94903c;
    border-radius: 10px;
    padding: 8px 10px;
    margin: 2px;
    color: white;
    text-align: center;
}

.past span {
    background: #dbdbdb;
    border-radius: 10px;
    padding: 8px 40px;
    color: black;
    text-align: center;
}

/** Footer Css **/ 
footer{
    background-color: #374140;
    border: 1px solid rgba(55, 65, 64, 0.85);
    box-sizing: border-box;
    display: flex;
     flex-direction: row;
    justify-content: center;
    padding: 10px 0;
 }

footer a {
    text-decoration: none;
}

footer .data {
    flex-basis: 35%;
}

footer p {
    padding: 0;
}

footer .explore {
    flex-basis: 28%;
}

footer .pageDetails {
    flex-basis: 24%;
}

footer span {
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 34px;
    letter-spacing: 5px;
    color: white;
}

footer ul li, footer p{
list-style-type: none;
font-weight: 600;
font-size: 11px;
line-height: 30px;
letter-spacing: 5px;
color: rgba(170, 169, 128, 0.6);
}

@media only screen and (max-width: 450px) {
    footer {
        flex-direction: column;
        flex-basis: unset;
        text-align: center;
    }

    footer div {
        padding: 10px;
    }
}
/**Latest News CSS */

.formNews {
    display: flex;
    width: 100%;
    flex-direction: column;
    margin-top: 20px;
    padding: 20px;
    justify-content: center;
    align-items: center;
}

form {
    display: flex;
    width: 40%;
    flex-direction: row;
    justify-content: flex-end;
    margin-left: 60%;
    margin-right: 5%;
}

select {
    border-bottom: 3px solid #aaa980;
    border-top: 0px;
    border-left: 0px;
    border-right: 3px solid #AAA980 ;
    background-color: white !important; 
    background-color: #DBDBDBD4;
    background-image: url('data:image/svg+xml;utf8,<svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M4 10.127L12 18.127L20 10.127H4Z" fill="%23d9cb9e"/></svg>');
    background-repeat: no-repeat;
    background-position-y: 50%;
    background-position-x: 99%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-family: poppins;
    color: gray;
}

 
 option{
     background-color: #DBDBDBD4;

    
 }
 
 
 input[type="text"]{
   
    width: 60%;
    border-bottom: 3px solid #aaa980;
    border-top: 0px;
    border-right: 0px;
}
#search-icon{
    display: flex;
    flex-direction: row;
    color: khaki;
    padding-left: 0%;
}


select{
    padding: 8px 20px;
    width: 45%;
    cursor: pointer;
}

input[type="text"] {
    padding: 8px;
    outline: none;
    cursor: pointer;
}

/* autocomplete css from https://www.w3schools.com/howto/howto_js_autocomplete.asp */

.autocomplete {
    position: relative;
    width: calc(500px);
    font-family: poppins;
   
    
  }
  #search-icon{
    background-position-y: 50%;
    background-position-x: 99%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-family: poppins;
  }
   
.autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    width: 40%;
    z-index: 99;
    top: 100%;
    left: 0;
    right: 0;
}
.autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    
}
.autocomplete-items div:hover {
    background-color: #e9e9e9;
}
.autocomplete-active {
    background-color: DodgerBlue !important;
    color: #ffffff;
}

.news {
    display: flex;
    flex-direction: row;
    padding-left: 3%;
    position: relative;
}
.news h1 {
    text-align: left;
    padding: 0px;
}

#span-1 {
    padding-right: 20px;
}
.news::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 0.5em;
    border-bottom: 1px solid #BDC3C7;
    z-index: -1;
}

.error {
    display: flex;
    justify-content: center;
    height: 100px;
    align-items: center;
}

.error span {
    background-color: #374140;
    color: white;
    padding: 20px;
    border-radius: 5px;
}
