@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;400&display=swap");
body,
html {
    font-family: "Poppins", sans-serif;
}

/** General Css **/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    
    font-size: 20px;
    text-align: center;
    padding-top: 30px;
    letter-spacing: 2px;
}

h2 {
    font-weight: 500;
    font-size: 18px;
     text-align: center;
    letter-spacing: 1px;
    padding-bottom: 30px;
}

h3{
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 1px;

}

p{ 
font-style: normal;
font-weight: normal;
font-size: 15px;
line-height: 25px;
padding: 10px;
}

/** Nav bar styling**/

nav {
    display: grid;
    background-color: #374140;
    height: 3.5em;
    font-style: normal;
    font: 6.25em;
    font-weight: bold;
    line-height: 2.3125em;
    letter-spacing: 0.3em;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    align-content: center;
}

nav a {
    text-decoration: none;
    color: white;
    font-size: 0.7em;
}

#pages {
    display: grid;
    grid-template-columns: 8em 8em 8em 8em;
    grid-template-rows: auto;
    justify-content: end;
    margin-right: 7em;
}

#logo {
    margin-left: 7em;
}

#logo a {
    font-size: 1em;
    letter-spacing: 1em;
    color: #d9cb9e;
}

#pages .active {
    color: #d9cb9e;
}

.disastersPage .fa-angle-down {
    font-size: 1.4em;
}

.dropDown {
    position: relative;
    display: inline-block;
}

.dropdownContent {
    position: absolute;
    top: 1.8em;
    display: none;
    text-align: center;
    margin-top: 0.8em;
    width: 8em;
    background: rgba(55, 65, 64, 0.8);
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    z-index: 1;
}
.dropdownContent a:nth-child(1)::after,
.dropdownContent a:nth-child(2)::after {
    content: "";
    display: block;
    height: 0.05em;
    background-color: #f3f3f36e;
}

.dropdownContent a {
    display: block;
}
.dropdownContent a:hover {
    background-color: #f3f3f36e;
}

.dropDown:hover .dropdownContent {
    display: block;
}

.bars {
    display: none;
}

@media only screen and (max-width: 800px) {
    .bars {
        display: block;
        margin-right: 1em;
        position: relative;
    }

    body{
        position: relative;
    }

    #pages {
        display: none;
        position: absolute;
        grid-template-columns: auto;
        grid-template-rows: 4em 4em 4em 4em;
        height: 100%;
        background-color: rgba(55, 65, 64, 0.8);
        text-align: center;
        top: 50px;
        right: -112px;
        bottom: 0;
    }

    .content:hover #pages {
        display: block;
    }

    #pages a {
        padding: 5px;
    }
    #pages > a::after,
    .dropDown a.disastersPage::after {
        content: "";
        display: block;
        width: 100%;
        height: 0.05em;
        background-color: #f3f3f36e;
    }

    nav {
        justify-content: space-between;
    }

    .dropDown:hover a.disastersPage::after {
        display: none;
    }

    #logo {
        margin-left: 1em;
    }

    .bars i {
        color: #d9cb9e;
    }
}