.code-image{
width: 300px;
height: 300px;
border: 1px solid #000000;
}
.sub-sections{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.subsection-2{
    width: 53%;
    margin-left: 3%;
 }

iframe{
   border-radius: 0px 0px 20px 20px;
 }

.videos{
    display: flex;
     flex-direction: row;
    justify-content: center;
    margin: 10px;
    gap: 30px;
 
}

/* .video-1, .video-2, .video-3{
width: 500px;

} */

@media only screen and (max-width: 1025px){

    iframe{
        width: calc(310px);
     }


}

@media only screen and (max-width: 800px){
    .sub-sections{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
    }

    .subsection-2{
        width: 90%;
        margin-left: 0;
    }

    .videos {
        flex-direction: column;
        align-items: center;
        margin: 0;
     }


     
}
