
/*** mission section **/
 
.missionDetails {
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: flex-end;
    gap:25px;
}

.missionContent p{
    width: 750px;
    padding-left: 50px;
}

.missionContent h1, .missionContent h2 {
    text-align: left;
    padding-left: 145px;
    padding-bottom: 0; 

}

.missionContent h2 {
    padding-left: 160px;
}

.missionImage img {
     width: 200px;
     box-shadow: 31px -31px rgb(189 195 199 / 29%);
}

 
@media only screen and (max-width: 800px) {
    .missionDetails {
        grid-template-columns: auto auto;
        column-gap: 44px;
    }
 
}

@media only screen and (max-width: 600px) {
    .missionImage {
        display: none;
    }

    .missionDetails {
        grid-template-columns: auto;

        text-align: center;
    }

    .missionContent p{
        width: 100%;
        padding-left: 0;
    }

    .missionContent h2 {
        text-align: center;
    }

    .missionContent h1, .missionContent h2{
        padding-left: 0;
        text-align: center;
    }
}

/** Main topics section  **/


.mainDetails {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    column-gap: 37px;
  }

.topic {
   display: flex;
   flex-direction: column;
   width: 300px;
   font-size: 0px;
}
 
.topic img{
    display: inline-block;
    font-size: 16px;
    width: 300px;
}

.topic .content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background: rgba(189, 195, 199, 0.5);
    border-radius: 0px 0px 20px 20px;
    position: relative;
}

.topic .content a {
    position: relative;
    right: 0.5em;
    align-self: center;
    font-size: 30px;
    color: #d9cb9e;
}
 
.topic .mainImage {
    position: relative;
    z-index: -1;
}

.topic .mainImage h3 {
    color: #ffecad;
    position: absolute;
    font-size: 20px;
    bottom: 0;
    left: 1em;
}



@media only screen and (max-width: 800px) {
    .mainDetails {
        grid-template-rows: auto auto auto;
        grid-template-columns: auto;
        justify-content: center;
        row-gap: 5em;
        padding: 0 0;
    }

    .topic .content {
        width: auto;
    }
    .topic img {
        width: 100%;
    }
}

/*** Latest news Api**/

#latestNews{
display: flex;
flex-direction: column;
align-items: center;
}

#latestNews h3{
font-weight: 600;
font-size: 17px;
line-height: 45px;
letter-spacing: 2px;
}

#latestNews p{
padding: 0;
}

#latestNews .news{
    display:  flex;
    flex-direction: row;
     width: 70%;
    padding: 15px;
}
 #latestNews .news .div2{
     padding-left:20px;
  }
#latestNews .news img{
    width: 300px;
    border-radius: 0 0 15px 15px;
}

#latestNews .news a{
    text-decoration: none;
    background-color: #d9cb9e;
    border-radius: 15px;
    padding:10px;
    color: white;
}

 .news .div2 span{
     padding-top: 100px;
 }
 
 .news span i{
    color: #d9cb9e;
    font-size: 20px;
  }

  .news .div2 div{
  padding: 10px;
  }


  .current:before{
      content: "";
      width: 15px;
      height:15px; 
      border-radius: 15px;
      background-color: red;
      display: inline-block;
      margin-right: 5px;
  }

  .alert:before{
    content: "";
    width: 15px;
    height:15px; 
    border-radius: 15px;
    background-color:rgb(255, 153, 0) ;
    display: inline-block;
    margin-right: 5px;
}


@media only screen and (max-width: 1020px) {
  
#latestNews .news{
    flex-direction: column;
    padding: 1em 0;
    align-items: center;
    width: 100%;
}

     #latestNews .news .div2{
         padding-left: 0;
         width: 300px;
         
     }
 
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }


/** Loader container **/

#loaderDiv{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px;
 }

.loader {
    border: 11px solid #f3f3f3;
    border-top: 11px solid #374140; 
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin 2s linear infinite;
}