/** map css **/
#container {
    position: relative;
    height: 100vh;
    width: 100vw;
}


#map {
    position: absolute;
    top: 0;
    height: 100vh;
    width: 100vw;
}

#arrowIcon img{
    height: 100px;
}

#arrowIcon{
    position: absolute;
    bottom: 15px;
    right: 10px;
    animation: arrowIconAnimation 1s linear infinite alternate;

}

@keyframes arrowIconAnimation {
    from {
      bottom: 15px;
    }
    to {
      bottom: 35px;
    }
  }

 

#container #h3 {
    position: absolute;
    top: 3.5em;
    padding: 10px;
    font-weight: 350;
    text-align: center;
    vertical-align: center;
    color: white;
    width: 100%;
    background-color: #374140;
    z-index: 2;
}
 
#container #h3::before {
    content: "";
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    padding: 2px;
    width: 100%;
    height: 0.05em;
    background-color: rgba(199, 242, 232, 0.29);;
}


h3 img {
    width: 20px;
    height: 20px;
}

/** Nav **/

@media only screen and (min-width: 0px) {
 
    .mobileView {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    #bars {
        display: block;
        font-size: 29px;
        margin-right: 1em;
        cursor: pointer;
    }

    #close {
        display: none;
        color: #d9cb9e;
        font-size: 29px;
        cursor: pointer;
        margin-right: 0.5em;
        z-index: 2;
    }

    body {
        position: relative;
    }

    #dropdownContent {
        padding: 0;
    }

    #content {
        display: none;
        position: absolute;
        grid-template-columns: auto;
        padding: 60px 5px 0 5px;
        grid-template-rows: 4em 4em 4em 4em;
        height: 100%;
        background-color: rgba(55, 65, 64, 0.8);
        text-align: center;
        bottom: 0;
        margin-right: 0;
        right: 0;
        z-index: 1;
    }

    #content > a::after {
        content: "";
        display: block;
        width: 100%;
        height: 0.05em;
        background-color: #f3f3f36e;
    }

    .disastersPage {
        display: inline;
    }

    #logo {
        margin-left: 1em;
    }

    #dropdownContent {
        top: 18.7em;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #bars i {
        color: #d9cb9e;
    }

    nav {
        grid-template-columns: auto;
        grid-template-rows: auto auto;
        position: absolute;
        top: 0;
        background-color: transparent;
        vertical-align: center;
        width: 100%;
        z-index: 6;
    }

    #content {
        position: fixed;
    }
}

/*** alertWeather CSS **/
 
ul{
    margin: 20px;
}

ul li{
    font-size: 16px;
}

.gm-style{
    font: inherit !important;
}

 
#alertWeather{
    display: flex;
    flex-direction: row;
    padding-top: 10px;
    justify-content: space-between;
    gap:20px;
}

#alertWeather h2{
    color: #D9CB9E;
    font-weight: bold;
    letter-spacing: 0.2em;
    padding: 0;
    text-align: initial;
}

.gm-style-iw-d{
    overflow: initial !important;
}
.gm-style-iw.gm-style-iw-c{
    padding-bottom: 10px;
}

.gm-ui-hover-effect{
    margin: 5px 10px 5px 10px !important;
    color: white !important;
  }

  button.gm-ui-hover-effect{
    background: url("../images/home/cancel.png") no-repeat !important;
    background-position-x: 40% !important;
    background-position-y: 40% !important;
   }


  button.gm-ui-hover-effect > img{
    display: none !important;
  }

.gm-style .gm-style-iw-c{
    background: linear-gradient(180deg, #374140 11.46%, rgba(55, 65, 64, 0.7) 45.83%, #374140 100%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
     border-radius: 20px;
     padding-right: 20px !important;
    padding-left: 20px !important;
     width: auto;
     height: auto;
     color: white;
     outline: none;
}
 
.info_Window h3{
    padding: 5px;
    font-weight: 300;
    font-size: 15px;
}

.info_Window > div:nth-child(2) > h3{
    font-weight: 800;
    padding-top:20px;
    color: #D9CB9E;
}

.info_Window > div:first-child{
    position: relative;
    padding-bottom:10px;

 }


.info_Window > div:first-child::after{
    content:"";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 0.5em;
    border-bottom: 1px solid #d9cb9e;
    z-index: -1;
}
 