
/*** mission section **/
 
.missionDetails {
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: flex-end;
    gap:25px;
}

.missionContent p{
    width: 750px;
    padding-left: 50px;
}

.missionContent h1, .missionContent h3 {
    text-align: left;
    padding-left: 145px;
    padding-bottom: 0; 

}

 

.missionContent h3 {
    padding-left: 160px;
    padding-bottom: 30px;
}

.missionImage img {
     width: 200px;
     box-shadow: 31px -31px rgb(189 195 199 / 29%);
}

 
 

/** Main topics section  **/

#main h3{
    padding-bottom: 30px;
    text-align: center;
}

.mainDetails {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    column-gap: 37px;
  }

.topic {
   display: flex;
   flex-direction: column;
   width: 300px;
   font-size: 0px;
}


.topic img{
    display: inline-block;
    font-size: 16px;
    width: 300px;
}

.topic .content {
    display: flex;
    flex-direction: row;
     height: 200px;
    justify-content: space-between;
    background: rgba(189, 195, 199, 0.5);
    border-radius: 0px 0px 20px 20px;
    position: relative;
}

.topic .content a {
    position: relative;
    right: 0.2em;
    align-self: center;
    font-size: 30px;
    color: #d9cb9e;
}
 
.topic .mainImage {
    position: relative;
    z-index: -1;
}

.topic .mainImage h3 {
    color: #ffecad;
    position: absolute;
    font-size: 20px;
    bottom: 0;
    left: 1em;
}


/*** Latest news Api**/

#latestNews{
display: flex;
flex-direction: column;
align-items: center;
}

#latestNews > h3{
 text-align: center;
}

#latestNews p{
padding: 0;
}

.iconify{
   color: #D9CB9E;
   font-size: 20px;
}
 

#latestNews .news{
    display:  flex;
    flex-direction: row;
     width: 70%;
    padding: 15px;
}
 #latestNews .news .div2{
     display: flex;
     flex-direction: column;
     padding-left:20px;
  }
#latestNews .news img{
    width: 300px;
    border-radius: 0 0 15px 15px;
}

#latestNews .news a{
    text-decoration: none;
    background-color: #d9cb9e;
    border-radius: 15px;
    padding:10px;
    color: white;
}
 

 
 .news span i{
    color: #d9cb9e;
    font-size: 18px;
  }

  .news .div2 div{
    padding-top: 10px;
   }


  .current:before{
      content: "";
      width: 15px;
      height:15px; 
      border-radius: 15px;
      background-color: red;
      display: inline-block;
      margin-right: 5px;
  }

  .alert:before{
    content: "";
    width: 15px;
    height:15px; 
    border-radius: 15px;
    background-color:rgb(255, 153, 0) ;
    display: inline-block;
    margin-right: 5px;
}


@media only screen and (max-width: 1020px) {
  
#latestNews .news{
    flex-direction: column;
    padding: 1em 0;
    align-items: center;
    width: 100%;
}

#latestNews .news .div2{
         padding-left: 0;
         width: 300px;
         
}

.mainDetails {
    grid-template-rows: auto auto auto;
    grid-template-columns: auto;
    justify-content: center;
    row-gap: 5em;
    padding: 0 0;
}

.topic .content {
    width: auto;
}
.topic img {
    width: 100%;
}

.missionImage {
    display: none;
}

.missionDetails {
    grid-template-columns: auto;

    text-align: center;
}

.missionContent p{
    width: 100%;
    padding-left: 0;
}

.missionContent h3 {
    text-align: center;
}

.missionContent h1, .missionContent h3{
    padding-left: 0;
    text-align: center;
}
 


 
 
}


  
  
